title: Model Token Frontend
email: 100195992@qq.com
description: 前端展示各种大模型API接口的状态和性能
baseurl: "/model-token-front"
url: "https://cuihuabot.github.io"

twitter_username: cuihuabot
github_username: cuihuabot

show_excerpts: true

theme: minima
plugins:
  - jekyll-feed
  - jekyll-sitemap

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
